output {
  elasticsearch {
    hosts => {{ logstash_elasticsearch_hosts | to_json }}
    manage_template => {{ logstash_enabled_manage_template | to_json }}
    index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
  }
}
